<!DOCTYPE html>
<html lang="en">
<head>
    <title>Todo List</title>
</head>
<body>
    <h1>Todos</h1>
    <ul>
        {% for todo in my_todos%}
            <li>
            {{todo}}
            <form method = "POST" action = "/delete_todo/{{loop.index0}}">
                <input type = "submit" value = "Delete">
            </form>
            </li>
        {% endfor %}
    </ul>

    <form method = "post">

        <input name = "new_todo">
        <input type = "submit">
    
    </form>

    <style>
        body {
            background-color: bisque;
            font-family: "Baloo 2", sans-serif;
            min-height: 100vh;
            display: flex;
            flex-direction: column;
            align-items: center;
            }
    </style>
</body>
</html>